<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Delivery</span>
  <span class="example-spacer"></span>
  <button *ngIf="!isLogged_in" mat-icon-button class="btn-login-logout" aria-label="Login" matTooltip="Entrar no sistema."
        matTooltipPosition="before" (click)="openLoginDialog()">
        <mat-icon>login</mat-icon>
        Entrar
    </button>
    <button *ngIf="isLogged_in" mat-icon-button class="btn-login-logout" aria-label="Sair" matTooltip="Sair do sistema."
        matTooltipPosition="before">
        <mat-icon>logout</mat-icon>
        Sair
    </button>

</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <br>
      <div class="avatar" *ngIf="isLogged_in"> 
        <img class="circle" [src]="client?.imageUrl" routerLink="profile" (click)="drawer.toggle()">
        <br>
        <mat-label class="avatar-name"><mat-icon class="icon-name icon-font">person_2</mat-icon> {{client?.name}}</mat-label>
        <br>
        <mat-label class="avatar-email"> <mat-icon class="icon-font">place</mat-icon> Endereço padrão</mat-label> <mat-icon  class="icon-font">edit</mat-icon> 
        <br>
        <mat-divider class="divisor-profile"></mat-divider>
      </div>

    <mat-nav-list>
      <mat-list-item routerLink="home" (click)="drawer.toggle()" >
        <button mat-icon-button >
          <mat-icon>home</mat-icon>
        </button>
        <span>Home</span>
      </mat-list-item>
      <mat-list-item routerLink="category" (click)="drawer.toggle()">
        <button mat-icon-button  >
          <mat-icon class="size-icon-nav">category</mat-icon>
        </button>
        <span>Categorias</span>
      </mat-list-item>
     
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content class="example-mat-drawer-content">
    <app-body></app-body>
  </mat-drawer-content>
</mat-drawer-container>