.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  height: calc(94vh - 100px);
  display: flex;

}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

}

.example-sidenav {
  padding: 1%;
  background-color: #7b1fa2;
}

.mat-list-base .mat-list-item {
  font-size: 13px;
}

.example-mat-drawer-content {
  padding-top: 2%;
  padding-left: 2%;
  width: 100%;
}