<aside class="profile-card">
    <header>
        <img [src]="client?.imageUrl">
      <h1>{{client?.name}} 
        <button mat-icon-button>
            <mat-icon>edit</mat-icon>
        </button>
      </h1>
      <h2>{{client?.email}}
        <button mat-icon-button>
            <mat-icon>edit</mat-icon>
        </button>
      </h2>
    </header>
  
    <div class="profile-bio">
      <p>Contatos <button mat-icon-button>
        <mat-icon>edit</mat-icon>
    </button></p>
      <p>Endereços <button mat-icon-button>
        <mat-icon>edit</mat-icon>
    </button></p>
    </div>
  </aside>